{% extends "base.html" %}

{% block css %}
	{{ super() }}
	<link rel="stylesheet" href="{% asset 'css/home.css' %}">
{% endblock %}

{% block body %}
	<div class="content" id="content">
		<div class="content-home"></div>
		<div class="btn-home">
			<div class="btn">
				<button class="button ticket" onclick="location.href = '{% url 'info' %}';" >Aller vers la FAQ</button>
				<button class="button arrow" onclick="location.href = '{% url 'day' %}';" >Aller vers le site</button>
			</div>
		</div>
	</div>
{% endblock %}
