{% extends "base_menubar.html" %}

{% block css %}
	<link rel="stylesheet" type="text/css" href="{% asset 'css/partners.css' %}">
{% endblock %}

{% block content %}
		<div class="content"><h1 style="width:100vw;text-align: center;">Informations pratiques</h1></div>
		<div class="content">
			<div class="content-sizer">
				<div class="ui divided huge items">
				<div class="item">
					<img src="{% asset 'img/info/virus.svg' %}" alt="Pourquoi ?" class="image" />
					<div class="content">
						<a class="header">Pourquoi la 54e nuit de l'ENIB est-elle reportée ?</a>
						<div class="description">
							<p>En accord avec les recommandations du ministère de la Santé et de l'OMS, déconseillant la tenue d'événement quand ils conduisent à des mélanges avec des personnes issues de zones où le virus, COVID-19, circule possiblement. L'équipe organisatrice et l'administration de l'Ecole Nationale d'Ingénieurs de Brest ont préféré conjointement décaler l'événement à une date ultérieure. Ceci afin de palier les risques liés à la transmision du virus. </p>
						</div>
					</div>
				</div>
				<div class="item">
					<img src="{% asset 'img/info/calendar.svg' %}" alt="Quand ?" class="image" />
					<div class="content">
						<a class="header">Quand aura lieu la 54e nuit de l'ENIB ?</a>
						<div class="description">
							<p>Pour le moment, aucune date n'a encore été fixée. Nous vous tiendrons informé dès que nous en saurons plus !</p>
						</div>
					</div>
				</div>
				<div class="item">
					<img src="{% asset 'img/info/delivery-delay.svg' %}" alt="Tout ?" class="image" />
					<div class="content">
						<a class="header">Le dîner traiteur et la remise des diplômes sont-ils également concernés ?</a>
						<div class="description">
							<p>Oui, c'est l'ensemble des événements prévus le 28 mars 2020 qui sont reportés. Ainsi, la Remise des Diplômes, prévue à 14h au multiplexe Liberté, le Dîner et la Soirée de Gala, prévus à partir de 18h à l'espace Keraudy sont intégralement reportés. </p>
						</div>
					</div>
				</div>
				<div class="item">
					<img src="{% asset 'img/info/change.svg' %}" alt="Des changements ?" class="image" />
					<div class="content">
						<a class="header">Le lieu du gala va-t-il changer ?</a>
						<div class="description">
							<p>Non, tout reste au même endroit, seule la date est concernée. Même le déroulé reste identique ! Toutefois, sur l'horaire, la programmation des artistes peut être amenée à évoluer. Vous pourrez retrouver toutes les informations sur notre <a href="{% url 'day' %}">page</a>, mise à jour quotidiennement.</p>
						</div>
					</div>
				</div>
				<div class="item">
					<img src="{% asset 'img/info/refund.svg' %}" alt="Remboursement" class="image" />
					<div class="content">
						<a class="header">Comment puis-je me faire rembourser ?</a>
						<div class="description">
							<p>Toutes les personnes ayant acheté des places (pour eux et/ou leurs proches) sur Helloasso pourront se faire rembourser, uniquement après nous avoir contactés par email (nuitenib@enib.fr), après avoir transmis une pièce d'identité et avoir indiqué le choix du mode de remboursement (par chèque en nous fournissant votre adresse postale, ou en nous fournissant un RIB).</p>
							<p>Toutes personnes ne souhaitant pas se faire rembourser doivent garder à l'esprit que leur(s) billet(s) <strong><U>ne seront pas valables</U></strong> à la nouvelle date de la 54e nuit de l'ENIB !</p>
						</div>
					</div>
				</div>
				<div class="item">
					<img src="{% asset 'img/info/circle_arrow.svg' %}" alt="Le même billet ?" class="image" />
					<div class="content">
						<a class="header">Pouvons-nous conserver notre billet pour la prochaine date ?</a>
						<div class="description">
							<p>Non, les billets achetés dans le cadre de la soirée du 28 mars ne seront pas valables lors de la prochaine date. Ainsi, nous vous invitons à bien vouloir vous signaler <strong><U>avant le 30 avril 2020</U></strong> afin de vous rembourser. Nous vous communiquerons ultérieurement le lien de la prochaine billetterie.</p>
						</div>
					</div>
				</div>
				<div class="item">
					<img src="{% asset 'img/info/other-refund.svg' %}" alt="Les frais annexes" class="image" />
					<div class="content">
						<a class="header">Les dons Helloasso me seront-ils remboursés ?</a>
						<div class="description">
							<p>Non, les dons faits à Helloasso ne peuvent prétendre à aucun remboursement de la part de la nuit de l'ENIB, tout comme, les frais de transports, d’hôtellerie, de gestion, d’envoi, etc. Seul le prix du billet sera remboursé.</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
