{% extends "base_menubar.html" %}

{% block css %}
    {{ super() }}
    <link rel="stylesheet" type="text/css" href="{% asset 'css/partners.css' %}">
    <style type="text/css">
        iframe{
            height: 500px;
            width: 100%;
            overflow-y: hidden!important;
            border: none;
        }
        iframe html{
            overflow-y: hidden;
        }
    </style>
{% endblock %}

{% block content %}
        {# <div class="content"><h1 style="width:100vw;text-align: center;">La billetterie</h1></div>
        <div class="content">
            <div class="ui warning message">
                <div class="header" style="width:70vw;text-align: center;">
                    N'oubliez pas les codes de réduction pour la soirée : EARL18 - EARL20 - EARL 22 !
                </div>
            </div>
        </div>
        <div class="content">
            <div class="ui positive message">
                <div class="header" style="width:70vw;text-align: center;">
                    Le repas du Gala est réservé en priorité aux diplômés et à leurs proches.<br />
                    Pour toute restriction alimentaire concernant le repas, merci de nous contacter par mail à <a href="mailto:nuitenib@enib.fr">nuitenib@enib.fr</a>
                </div>
            </div>
        </div> #}

        <div class="content">
            <div class="ui warning message">
                <div class="header" style="width:70vw;text-align: center;">
                    En accord avec les recommandations du ministère de la santé et de l'OMS, déconseillant la tenue d'événement quand ils conduisent à des mélanges avec des personnes issues de zones où le virus, COVID-19, circule possiblement, la Remise Des Diplômes, le Dîner et la Soirée de Gala sont reportés. <br />
                    Nous vous tiendrons informés de l'évolution de la situation.
                    Pour plus d'info sur l'événement consultez notre <a href="{% url 'info' %}">page info</a>.<br />
                    Plus d'informations sur la situation sur le <a href="https://www.gouvernement.fr/info-coronavirus">site du gouvernement</a> et le <a href="https://www.who.int/fr/emergencies/diseases/novel-coronavirus-2019">site de l'OMS</a>.
                </div>
            </div>
        </div>

        {# <div class="content">
            <div class="content-sizer">
                <div style="overflow:visible;">
                    <iframe id="haWidget" allowtransparency="true" scrolling="auto" src="https://www.helloasso.com/associations/nuit-de-l-enib/evenements/nuit-de-l-enib-2020/widget" style="width:100%;height:750px;border:none;" onload="window.scroll(0, this.offsetTop)"></iframe><div style="width:100%;text-align:center;"></div>
                </div>
            </div>
        </div>

        <div class="content">
            <div class="ui warning message">
                <div class="header" style="width:70vw;text-align: center;">
                    Si la billetterie ne s'affiche pas, vous pouvez vous rediriger vers ce <a href="https://www.helloasso.com/associations/nuit-de-l-enib/evenements/nuit-de-l-enib-2020">lien</a>.
                </div>
            </div>
        </div> #}
{% endblock %}
