<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keyword" content="gala,enib,nuit,2020,diplome,description,journée,équipe">
    <meta name="description" content="Présentation de l'équipe du gala." />
    <title>L'équipe - Nuit de l'ENIB</title>
    <link rel="canonical" href="https://gala.enib.net/" />
    <link rel="icon" type="image/png" href="img/favicon/favicon-96.png" />
    <link rel="stylesheet" href="css/default.css">
    <link rel="stylesheet" type="text/css" href="semantic-ui/semantic.min.css">
    <link rel="stylesheet" type="text/css" href="css/team.css">
    <link href="https://fonts.googleapis.com/css?family=Mukta+Mahee:400,500" rel="stylesheet">
    </head>
<body">
    <div class="ui sidebar huge inverted menu vertical">
        <div class="item">
            <div class="header">Navigations</div>
            <div class="menu">
                <a href="home.html" class="item">Accueil <i class="icon home"></i></a>
            </div>
            <div class="menu">
                <a href="day.html" class="item">Journée <i class="icon calendar"></i></a>
            </div>
            <div class="menu">
                <a href="team.html" class="item">L'équipe <i class="icon users"></i></a>
            </div>
            <div class="menu">
                <a href="store.html" class="item">Billetterie <i class="icon ticket"></i></a>
            </div>
            <div class="menu">
                <a href="partners.html" class="item">Partenaires <i class="icon handshake"></i></a>
            </div>
            <div class="menu">
                <a href="cashless.html" class="item">Cashless <i class="icon dollar sign"></i></a>
            </div>
            <div class="menu">
                <a href="info.html" class="item">Infos pratiques<i class="icon info circle"></i></a>
            </div>
            </div>
        </div>
    </div>
    <div id="loader-wrapper">
        <div id="loader"></div>

        <div class="loader-section section-left"></div>
        <div class="loader-section section-right"></div>

    </div>
    <div class="pusher">
        <nav class="header-nav-min">
            <a class="btn-header"><i class="icon sidebar"></i></a>
        </nav>
        <header>
            <a href="home.html" class="header-title"><h1>Nuit de l'enib</h1></a>
            <nav class="header-nav-max">
                <a href="day.html">Journée</a>
                <a href="team.html" class="is-active">L'équipe</a>
                <a href="store.html">Billetterie</a>
                <a href="partners.html">Partenaires</a>
                <a href="cashless.html">Cashless</a>
                <a href="info.html" >Infos pratiques</a>
            </nav>
        </header>
        <div class="content"><h1 style="width:100vw;text-align: center;">L'équipe du gala</h1></div>
        <div class="content">

            <div class="content-sizer max">
                <link rel="stylesheet" href="css/team.css">
                <div class="staff-container">
                    <!-- TODO: Mettre à jour toute l'équipe -->
                    <div class="staff staff-card" style="display:none;" id="staff-1-card">
                        <div class="staff-picture">
                            <img src="img/staff-picture/emma.jpg" class="img-staff left" />
                        </div>
                        <div class="staff-text">
                            <p class="staff-p staff-p-work">Présidente</p>
                            <p class="staff-p staff-p-name">Emma DARBOIS</p>
                            <p class="staff-p staff-p-label">Citation  : </p>
                            <p class="staff-p staff-p-slogan">Mais alors, si le monde n'a absolument aucun sens, qu'est-ce qui nous empêche d'en inventer un ?</br> - Alice</p>
                        </div>
                    </div>
                    <div class="staff staff-card" style="display:none;" id="staff-2-card">
                        <div class="staff-picture">
                            <img src="img/staff-picture/edwin.jpg" class="img-staff left" />
                        </div>
                        <div class="staff-text">
                            <p class="staff-p staff-p-work">Vice-Président</p>
                            <p class="staff-p staff-p-name">Edwin KERBAUL</p>
                            <p class="staff-p staff-p-label">Citation  : </p>
                            <p class="staff-p staff-p-slogan">Le meilleur moyen de réaliser l’impossible est de croire que c’est possible.</br> - le chapelier fou</p>
                        </div>
                    </div>
                    <div class="staff staff-card" style="display:none;" id="staff-3-card">
                        <div class="staff-picture">
                            <img src="img/staff-picture/julie.jpg" class="img-staff left" />
                        </div>
                        <div class="staff-text">
                            <p class="staff-p staff-p-work">Vice-Présidente</p>
                            <p class="staff-p staff-p-name">Julie LOUSSAUT</p>
                            <p class="staff-p staff-p-label">Citation  : </p>
                            <p class="staff-p staff-p-slogan">Aucune épreuve n’a jamais été surmontée en versant des larmes.</br> - La chenille à Alice</p>
                        </div>
                    </div>
                    <div class="staff staff-card" style="display:none;" id="staff-4-card">
                        <div class="staff-picture">
                            <img src="img/staff-picture/julien.jpg" class="img-staff left" />
                        </div>
                        <div class="staff-text">
                            <p class="staff-p staff-p-work">Trésorier</p>
                            <p class="staff-p staff-p-name">Julien PARISSET</p>
                            <p class="staff-p staff-p-label">Citation  : </p>
                            <p class="staff-p staff-p-slogan"></p>
                        </div>
                    </div>
                    <div class="staff staff-card" style="display:none;" id="staff-5-card">
                        <div class="staff-picture">
                            <img src="img/staff-picture/alexandre.jpg" class="img-staff left" />
                        </div>
                        <div class="staff-text">
                            <p class="staff-p staff-p-work">Secrétaire</p>
                            <p class="staff-p staff-p-name">Alexandre BONIZEC</p>
                            <p class="staff-p staff-p-label">Citation  : </p>
                            <p class="staff-p staff-p-slogan">C'est classe, d'être classe.</p>
                        </div>
                    </div>
                    <div class="staff staff-card" style="display:none;" id="staff-6-card">
                        <div class="staff-picture">
                            <img src="img/staff-picture/aymeric.jpg" class="img-staff left" />
                        </div>
                        <div class="staff-text">
                            <p class="staff-p staff-p-work">Secrétaire</p>
                            <p class="staff-p staff-p-name">Aymeric LE GUEN</p>
                            <p class="staff-p staff-p-label">Citation  : </p>
                            <p class="staff-p staff-p-slogan"></p>
                        </div>
                    </div>
                    <div class="staff staff-card" style="display:none;" id="staff-7-card">
                        <div class="staff-picture">
                            <img src="img/staff-picture/gwendal.jpg" class="img-staff left" />
                        </div>
                        <div class="staff-text">
                            <p class="staff-p staff-p-work">Co-Responsable Remise des Diplômes</p>
                            <p class="staff-p staff-p-name">Gwendal ABJEAN</p>
                            <p class="staff-p staff-p-label">Citation  : </p>
                            <p class="staff-p staff-p-slogan"></p>
                        </div>
                    </div>
                    <div class="staff staff-card" style="display:none;" id="staff-9-card">
                        <div class="staff-picture">
                            <img src="img/staff-picture/stannick.jpg" class="img-staff left" />
                        </div>
                        <div class="staff-text">
                            <p class="staff-p staff-p-work">Co-Responsable Remise des Diplômes</p>
                            <p class="staff-p staff-p-name">Stannick LE GAL</p>
                            <p class="staff-p staff-p-label">Citation  : </p>
                            <p class="staff-p staff-p-slogan"></p>
                        </div>
                    </div>
                    <div class="staff staff-card" style="display:none;" id="staff-10-card">
                        <div class="staff-picture">
                            <img src="img/staff-picture/kenza.jpg" class="img-staff left" />
                        </div>
                        <div class="staff-text">
                            <p class="staff-p staff-p-work">Responsable Décorations</p>
                            <p class="staff-p staff-p-name">Kenza GAULTIER</p>
                            <p class="staff-p staff-p-label">Citation  : </p>
                            <p class="staff-p staff-p-slogan"></p>
                        </div>
                    </div>
                    <div class="staff staff-card" style="display:none;" id="staff-11-card">
                        <div class="staff-picture">
                            <img src="img/staff-picture/hermine.jpg" class="img-staff left" />
                        </div>
                        <div class="staff-text">
                            <p class="staff-p staff-p-work">Membre du pôle Décorations</p>
                            <p class="staff-p staff-p-name">Hermine</p>
                            <p class="staff-p staff-p-label">Citation  : </p>
                            <p class="staff-p staff-p-slogan"></p>
                        </div>
                    </div>               
                    <div class="staff staff-card" style="display:none;" id="staff-12-card">
                        <div class="staff-picture">
                            <img src="img/staff-picture/alexis.jpg" class="img-staff left" />
                        </div>
                        <div class="staff-text">
                            <p class="staff-p staff-p-work">Responsable Partenariats</p>
                            <p class="staff-p staff-p-name">Alexis CAILLARD</p>
                            <p class="staff-p staff-p-label">Citation  : </p>
                            <p class="staff-p staff-p-slogan"></p>
                        </div>
                    </div>
                    <div class="staff staff-card" style="display:none;" id="staff-13-card">
                        <div class="staff-picture">
                            <img src="img/staff-picture/lucas.jpg" class="img-staff left" />
                        </div>
                        <div class="staff-text">
                            <p class="staff-p staff-p-work">Membre du pôle Partenariats</p>
                            <p class="staff-p staff-p-name">Lucas DE LAFORET</p>
                            <p class="staff-p staff-p-label">Citation  : </p>
                            <p class="staff-p staff-p-slogan"></p>
                        </div>
                    </div>
                    <div class="staff staff-card" style="display:none;" id="staff-14-card">
                        <div class="staff-picture">
                            <img src="img/staff-picture/arthur.jpg" class="img-staff left" />
                        </div>
                        <div class="staff-text">
                            <p class="staff-p staff-p-work">Responsable Musique</p>
                            <p class="staff-p staff-p-name">Arthur GOURHAND</p>
                            <p class="staff-p staff-p-label">Citation  : </p>
                            <p class="staff-p staff-p-slogan"></p>
                        </div>
                    </div>
                    <div class="staff staff-card" style="display:none;" id="staff-15-card">
                        <div class="staff-picture">
                            <img src="img/staff-picture/robin.jpg" class="img-staff left" />
                        </div>
                        <div class="staff-text">
                            <p class="staff-p staff-p-work">Responsable Surprise</p>
                            <p class="staff-p staff-p-name">Robin Caudy</p>
                            <p class="staff-p staff-p-label">Citation  : </p>
                            <p class="staff-p staff-p-slogan">Si je ne m'abuse, il a un penchant très prononcé pour la pyrotechnie.</br>- Minerva McGonagall</p>
                        </div>
                    </div>
                    <div class="staff" id="staff-1">
                        <div class="staff-picture">
                            <img src="img/staff-picture/emma.jpg" class="img-staff left" />
                        </div>
                    </div>
                    <div class="staff" id="staff-2">
                        <div class="staff-picture">
                            <img src="img/staff-picture/edwin.jpg" class="img-staff left" />
                        </div>
                    </div>
                    <div class="staff" id="staff-3">
                        <div class="staff-picture">
                            <img src="img/staff-picture/julie.jpg" class="img-staff left" />
                        </div>
                    </div>
                    <div class="staff" id="staff-4">
                        <div class="staff-picture">
                            <img src="img/staff-picture/julien.jpg" class="img-staff left" />
                        </div>
                    </div>
                    <div class="staff" id="staff-5">
                        <div class="staff-picture">
                            <img src="img/staff-picture/alexandre.jpg" class="img-staff left" />
                        </div>
                    </div>
                    <div class="staff" id="staff-6">
                        <div class="staff-picture">
                            <img src="img/staff-picture/aymeric.jpg" class="img-staff left" />
                        </div>
                    </div>
                    <div class="staff" id="staff-7">
                        <div class="staff-picture">
                            <img src="img/staff-picture/gwendal.jpg" class="img-staff left" />
                        </div>
                    </div>
                    <div class="staff" id="staff-9">
                        <div class="staff-picture">
                            <img src="img/staff-picture/stannick.jpg" class="img-staff left" />
                        </div>
                    </div>
                    <div class="staff" id="staff-10">
                        <div class="staff-picture">
                            <img src="img/staff-picture/kenza.jpg" class="img-staff left" />
                        </div>
                    </div>
                    <div class="staff" id="staff-11">
                        <div class="staff-picture">
                            <img src="img/staff-picture/hermine.jpg" class="img-staff left" />
                        </div>
                    </div>
                    <div class="staff" id="staff-12">
                        <div class="staff-picture">
                            <img src="img/staff-picture/alexis.jpg" class="img-staff left" />
                        </div>
                    </div>
                    <div class="staff" id="staff-13">
                        <div class="staff-picture">
                            <img src="img/staff-picture/lucas.jpg" class="img-staff left" />
                        </div>
                    </div>
                    <div class="staff" id="staff-14">
                        <div class="staff-picture">
                            <img src="img/staff-picture/arthur.jpg" class="img-staff left" />
                        </div>
                    </div>
                    <div class="staff" id="staff-15">
                        <div class="staff-picture">
                            <img src="img/staff-picture/robin.jpg" class="img-staff left" />
                        </div>
                    </div>
                </div>
            </div>

            <div class="content-sizer min">
                <div class="ui card">
                    <div class="image">
                        <img src="img/staff-picture/emma.jpg">
                    </div>
                    <div class="content">
                        <a class="header">Présidente</a>
                        <div class="meta">
                            <span class="date">Emma DARBOIS</span>
                        </div>
                        <div class="description">
                            Mais alors, si le monde n'a absolument aucun sens, qu'est-ce qui nous empêche d'en inventer un ?</br> - Alice
                        </div>
                    </div>
                </div>
                <div class="ui card">
                    <div class="image">
                        <img src="img/staff-picture/edwin.jpg">
                    </div>
                    <div class="content">
                        <a class="header">Vice-Président</a>
                        <div class="meta">
                            <span class="date">Edwin KERBAUL</span>
                        </div>
                        <div class="description">
                            Le meilleur moyen de réaliser l’impossible est de croire que c’est possible.</br> - le chapelier fou
                        </div>
                    </div>
                </div>
                <div class="ui card">
                    <div class="image">
                        <img src="img/staff-picture/julie.jpg">
                    </div>
                    <div class="content">
                        <a class="header">Vice-Présidente</a>
                        <div class="meta">
                            <span class="date">Julie LOUSSAUT</span>
                        </div>
                        <div class="description">
                            Aucune épreuve n’a jamais été surmontée en versant des larmes.</br> - La chenille à Alice
                        </div>
                    </div>
                </div>
                <div class="ui card">
                    <div class="image">
                        <img src="img/staff-picture/julien.jpg">
                    </div>
                    <div class="content">
                        <a class="header">Trésorier</a>
                        <div class="meta">
                            <span class="date">Julien PARISSET</span>
                        </div>
                        <div class="description">

                        </div>
                    </div>
                </div>
                <div class="ui card">
                    <div class="image">
                        <img src="img/staff-picture/alexandre.jpg">
                    </div>
                    <div class="content">
                        <a class="header">Secrétaire</a>
                        <div class="meta">
                            <span class="date">Alexandre BONIZEC</span>
                        </div>
                        <div class="description">
                            C'est classe, d'être classe.
                        </div>
                    </div>
                </div>
                <div class="ui card">
                    <div class="image">
                        <img src="img/staff-picture/aymeric.jpg">
                    </div>
                    <div class="content">
                        <a class="header">Secrétaire</a>
                        <div class="meta">
                            <span class="date">Aymeric LE GUEN</span>
                        </div>
                        <div class="description">

                        </div>
                    </div>
                </div>
                <div class="ui card">
                    <div class="image">
                        <img src="img/staff-picture/gwendal.jpg">
                    </div>
                    <div class="content">
                        <a class="header">Co-Responsable Remise des Diplômes</a>
                        <div class="meta">
                            <span class="date">Gwendal ABJEAN</span>
                        </div>
                        <div class="description">

                        </div>
                    </div>
                </div>
                <div class="ui card">
                    <div class="image">
                        <img src="img/staff-picture/stannick.jpg">
                    </div>
                    <div class="content">
                        <a class="header">Co-Responsable Remise des Diplômes</a>
                        <div class="meta">
                            <span class="date">Stannick LE GAL</span>
                        </div>
                        <div class="description">

                        </div>
                    </div>
                </div>
                <div class="ui card">
                    <div class="image">
                        <img src="img/staff-picture/kenza.jpg">
                    </div>
                    <div class="content">
                        <a class="header">Responsable Décorations</a>
                        <div class="meta">
                            <span class="date">Kenza GAULTIER</span>
                        </div>
                        <div class="description">
                            
                        </div>
                    </div>
                </div>
                <div class="ui card">
                    <div class="image">
                        <img src="img/staff-picture/hermine.jpg">
                    </div>
                    <div class="content">
                        <a class="header">Responsable Décorations</a>
                        <div class="meta">
                            <span class="date">Hermine OLIVE</span>
                        </div>
                        <div class="description">
                            
                        </div>
                    </div>
                </div>
                <div class="ui card">
                    <div class="image">
                        <img src="img/staff-picture/alexis.jpg">
                    </div>
                    <div class="content">
                        <a class="header">Responsable Partenariats</a>
                        <div class="meta">
                            <span class="date">Alexis CAILLARD</span>
                        </div>
                        <div class="description">
                            
                        </div>
                    </div>
                </div>
                <div class="ui card">
                    <div class="image">
                        <img src="img/staff-picture/lucas.jpg">
                    </div>
                    <div class="content">
                        <a class="header">Responsable Partenariats</a>
                        <div class="meta">
                            <span class="date">Alexis CAILLARD</span>
                        </div>
                        <div class="description">

                        </div>
                    </div>
                </div>
                <div class="ui card">
                    <div class="image">
                        <img src="img/staff-picture/arthur.jpg">
                    </div>
                    <div class="content">
                        <a class="header">Responsable Musique</a>
                        <div class="meta">
                            <span class="date">Arthur GOURHAND</span>
                        </div>
                        <div class="description">

                        </div>
                    </div>
                </div>
                <div class="ui card">
                    <div class="image">
                        <img src="img/staff-picture/robin.jpg">
                    </div>
                    <div class="content">
                        <a class="header">Responsable Surprise</a>
                        <div class="meta">
                            <span class="date">Robin CAUDY</span>
                        </div>
                        <div class="description">
                            Si je ne m'abuse, il a un penchant très prononcé pour la pyrotechnie.</br>- Minerva McGonagall
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <footer>
            <div class="ui stackable thre equal width grid">
                <div class="column"><i class="icon copyright"></i> 2020 Nuit de l'enib</div>
                <div class="column">
                    <a target="_blank" href="https://www.facebook.com/Nuit-de-lENIB-1672448326336009/">
                        <i class="icon grey facebook"></i>
                    </a> | 
                    <a class="icone icone-mail" target="_blank" href="mailto:nuitenib@enib.fr">
                        <i class="icon grey mail"></i>
                    </a> | 
                    <a class="icone icone-enib" target="_blank" href="https://enib.net/">
                        <svg height="1.18em" width="2.18em">
                            <text x="0" y="16" >ENIB</text>
                        </svg> 
                    </a>
                </div>
        </footer>
    </div>
    <script type="text/javascript" src="js/jquery.js"></script>
    <script type="text/javascript" src="semantic-ui/semantic.min.js"></script>
    <script type="text/javascript" src="js/function.js"></script>
</body>
</html>
