{% extends "base_menubar.html" %}

{% block css %}
	{{ super() }}
	<link rel="stylesheet" type="text/css" href="{% asset 'css/team.css' %}">
{% endblock %}

{% block content %}
		<div class="content"><h1 style="width:100vw;text-align: center;">L'équipe du gala</h1></div>
		<div class="content">

			<div class="content-sizer max">
				<div class="staff-container">
					{% for member in team %}
					<div class="staff staff-card" style="display:none;" id="staff-{{ member.order }}-card">
						<div class="staff-picture">
							<img src="{{ member.picture }}" class="img-staff left" />
						</div>
						<div class="staff-text">
							<p class="staff-p staff-p-work">{{ member.role }}</p>
							<p class="staff-p staff-p-name">{{ member.first_name }} {{ member.last_name|upper }}</p>
							<p class="staff-p staff-p-label">Citation  : </p>
							<p class="staff-p staff-p-slogan">
								{% if member.citation -%}
								{{ member.citation }}
								{%- if member.personne_citee -%}
								<br /> - {{ member.personne_citee }}
								{%- endif %}
								{%- endif %}
							</p>
						</div>
					</div>
					{%- endfor %}

					{%- for member in team %}
					<div class="staff" id="staff-{{ member.order }}">
						<div class="staff-picture">
							<img src="{{ member.picture }}" class="img-staff left" />
						</div>
					</div>
					{% endfor %}
				</div>
			</div>

			<div class="content-sizer min">
				{% for member in team %}
				<div class="ui card">
					<div class="image">
						<img src="{{ member.picture }}">
					</div>
					<div class="content">
						<a class="header">{{ member.role }}</a>
						<div class="meta">
							<span class="date">{{ member.first_name }} {{ member.last_name|upper }}</span>
						</div>
						<div class="description">
							{% if member.citation -%}
							{{ member.citation }}
							{%- if member.personne_citee -%}
							<br /> - {{ member.personne_citee }}
							{%- endif %}
							{%- endif %}
						</div>
					</div>
				</div>
				{% endfor %}
			</div>
		</div>
{% endblock %}
